name: Deploy to Salesforce

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Install Salesforce CLI
        run: |
          npm install --global @salesforce/cli
          sf --version
      
      - name: Authenticate to Salesforce
        run: |
          echo "${{ secrets.SALESFORCE_AUTH_URL }}" > authfile.txt
          sf org login sfdx-url --sfdx-url-file authfile.txt --alias deployment-org --set-default
      
      - name: Deploy to Salesforce
        run: |
          sf project deploy start --source-dir force-app --target-org deployment-org --wait 30
